*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/*Barra de busqueda*/
.buscarJuegos{
    width: 75%;
    margin: 2rem auto;
    background-color: #06D6A0;
    border: solid 0.5rem #7b2cbf;
    padding: 1.5rem;
    
}

.botonBusqueda{
    background-color: #EF476F;
    color: white;
    margin: 0.5rem 0.5rem;
    font-size: 20px;
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 10px;
}

.botonBusqueda:hover{
    background-color: #1B9AAA;
    color: white;
}

.barraBusqueda{
    width: 18rem;
    border: solid 5px #EF476F;
}

/*Main*/

.logo {
    margin: 2rem auto;
    max-width: 50%;
}

.titulo{
    font-size: 250%;
    color: #1B9AAA;
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.card {
    width: 22rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: #1B9AAA;
    padding: 20px 10px;
    border: 5px solid #7b2cbf;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card-img-top {
    width: 17rem;
    height: 17rem;
    margin-left: 1rem;
    border: solid 0.5rem #06D6A0;
    border-radius: 10%;
}

.card-title {
    font-size: 2rem;
    color: white;
    margin-top: 1rem;
}

.card-text {
    display: block;
    font-size: 1.8rem;
    color: #EF476F;
    margin-bottom: 10px;
}

.btn-primary {
    margin: 10px 0;
    background-color: #06D6A0;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #EF476F;
    box-shadow: 1px 1px 10px lightgrey;
}

.toastify {
    background: linear-gradient(to right, #EF476F,#7b2cbf, #1B9AAA, #06D6A0)
}

/*Carrito*/

.tituloCarrito{
    width: 70%;
    margin: 2rem auto;
    font-size: 50px;
    color: #EF476F;
    background-color: #06D6A0;
    border: solid 0.5rem #7b2cbf;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.carritoContainer{
    width: 90%;
    margin: 2rem auto;
    font-size: 40px;
    background-color: #1B9AAA;
    border: solid 0.5rem #7b2cbf;
    color: #EF476F;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.filaCarrito {
    width: 70%;
    margin: 2rem auto;
    border: 8px solid #7b2cbf;
    width: 100%;
    background-color: #1B9AAA;
    padding: 20px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.imagenCarrito img {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0.5rem;
    border: solid 0.5rem #06D6A0;
    border-radius: 10%;
}

.tituloJuegoCarrito {
    width: 20%;
    margin: 1rem auto;
    font-size: 150%;
    color:white;
    padding: 0;
}

.precioJuegoCarrito {
    width: 10%;
    margin: 1rem auto;;
    font-size: 150%;
    color:white;
}

.footerCarrito{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content:center;
    background-color:#1B9AAA;
    border: 8px solid #7b2cbf;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 2rem;
} 

.finalizarCompra {
    background-color:#7b2cbf;
    color: white;
    border: 1px;
    border-radius: 10px;
    padding: 15px;
    margin-right: 1rem;
}

.finalizarCompra:hover{
    background-color: #EF476F;
    border: 1px #7b2cbf;
}

.botonvaciarCarrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vaciarCarrito{
    background-color: #7b2cbf;
    color: white;
    border: 1px;
    border-radius: 10px;
    padding: 15px;
    
}

.vaciarCarrito:hover{
    background-color: #EF476F;
    border: 1px #7b2cbf;
}

.swal2-popup {
    color:#06D6A0 !important;
    background-color:white !important;
}

/*Footer*/

footer {
    width: 100%;
    height: 25rem;
    background-color: #06D6A0;
}

.textoFooter{
    font-size: 25px;
    color: #EF476F;
}

.iconoFooter{
    width: 12rem;
    height: 7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.iconosRedesSociales {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.2rem;
    border-radius: 10px;
    display: inline-block;
    
}

/*Media Queries*/
@media (max-width:425px) {
    .logo{
        max-width: 70%;
    }

    .titulo{
        font-size: 200%;
    }

    .tituloCarrito{
        font-size: 250%;
    }

    .col{
        font-size: 70%;
    }
}

@media (max-width:767px){
    footer{
        height: 30rem;
    }
}





